.content {
	height: 98%; 
	font-size: 13px;
	font-family: arial;
}
ul {
	/*Remove the bullets from all unordered lists on the page*/
	list-style: none;
}

#signin {
	background-color: rgb(66, 133, 244);
	height: 28px;
	width: 43px;
	text-align: center;
	line-height: 35px;
}

.header {
	float: right;
	/* forcing this to stay at the top and hopefully not disapear */
	padding-top: 15px;
	/* relieve right side a little */
	padding-right: 20px; 
}
/* Styling for the top navbar list items*/
.header li {
	/* make all of the list items show up in a single line*/
	display: inline-block;
	/*give everything some room */
	padding: 2px;
}
/* .search is where all of the content outside of header/footers is */
.search {
	/* horizontally center everything..hopefully */
	text-align: center;
	position: relative;
	padding-top: 200px;
	padding-bottom: 20px;
}

/* set the size of the main logo */
#google_logo {
	height: 92px;
	width: 272px;
	padding-bottom: 25px;
}

/*lets try to draw a pretty box */
.sch_box {
	border: solid 1px;
	height: 38px; 
	width: 638px;
	/* these boxes tend to want to go left.  Margin auto makes it center*/
	margin: auto;
	border-color: rgb(217, 217, 217);
}
#sch_qry {
	height: 26px;
	line-height: 26px;
	float: left;
	border: none;
	padding: 4px;
	outline: none;
	font-size: 16px;
	width: 90%

}
#mic {
	width: 24px;
	height: 24px; 
	display: block;
	float: right;
	padding: 4px 4px;
}
.button {
	margin-top: 25px;
	height: 36px;
	line-height: 27px;
}
#g_sch {
	height: 36px;
		margin-top: 25px;
	height: 36px;
}

/* Styling for the entire footer */
.footer {
	/* force the footer to the bottom of the page*/
	position: absolute;
	bottom: 2px;
	/* define the width of the footer as the entire width of the screen*/
	width: 100%;
	background-color: #f2f2f2;
	height: 40px;
}

/* styling for all of the footer list items*/
.footer li {
	/* make all of the list items show up in a single line*/
	display: inline-block;
	/*give everything some room */
	padding: 2px 5px;
	/* This makes the list items center inside the containing div */
	line-height: 40px;
}
/* styling for the left side of the footer*/
.l_footer {
	/* force the whole thing to the left side */
	float: left;
	/* relieve left side a little */
	padding-left: 20px;
}
/* styling for the right side of the footer*/
.r_footer {
	/* push the entire thing to the right side*/
	float: right;
	/* relieve right side a little */
	padding-right: 20px; 
}